
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin-top: -3rem;
}



.app-logo {
    align-self: center;
    margin-top: -10rem;
    width: 40%;
    min-width: 200px;
    
}

.app-name {
    width: 90%;
    min-width: 600px;
}

.img-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;         
  align-items: center;
  gap: 3rem;      
  min-width: min-content;         
}


.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    gap: 0.5rem;
}

.password-container input {
    padding: 1rem;
    width: 90%;
    border: 3px solid #BFBFBF;
    border-radius: 5px;
    background-color: #FFFFFF;
    outline: none;
    color: #000000;
    margin-top: -1rem;
    font-size: 1.5rem;

}

.password-container input:focus {
    border: 3px solid #02E442;
}


.password-icon {
    width: 15%;
    margin-top: -0.8rem;
    cursor: pointer;
}

.password-row {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.button-row {
    display: flex;
    align-self: left;
    gap: 1rem;
    width: 100%;
    
}

.button-login {
    align-self: left;
    width: 85%;
    padding: 0.8rem;
    background-color: #02E442;
    border: 3px solid #1B7519;
    font-family: 'Jersey 10';
    font-size: 3rem;
    letter-spacing: 1.5px;
    line-height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-login:hover {
    background-color: #01d73d;
}


.button-info {
    align-self: right;
    width: 15%;
    padding: 0.8rem;
    margin-right: 14.51%;
    margin-left: -2%;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    line-height: 20px;
    border: 3px solid #BFBFBF;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #BFBFBF;
    font-weight: bold;
    cursor: pointer;
}

.button-info:hover {
    background-color: #eeeeee;
}
