.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

}

.button-password-row {
    display: flex;
    gap: 1rem;
}

.password-body {
    background-color: #1B7519;
    border: 15px solid #0a4c09;
    padding: 20px;
    max-width: 750px;
    height: 52vh;
    overflow-y: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
}

.password-name {
    width: 60%;
    height: max-content;
    min-width: 650px;
}

.password-return-button {
    align-self: center;
    width: 15%;
    min-width: 140px;
    padding: 0.8rem;
    background-color: #8EDD8D;
    border: 3px solid #0C590B;
    color: #02E442;
    font-family: 'Jersey 10';
    font-size: 3rem;
    letter-spacing: 1.5px;
    line-height: 20px;
    border-radius: 5px;
    -webkit-text-stroke: 1px #0C590B;
    cursor: pointer;
}

.password-return-button:hover {
    background-color: #7ed67d;
    color: #0C590B;
}

.password-create-button {
    align-self: left;
    width: 85%;
    padding: 0.8rem;
    background-color: #02E442;
    border: 3px solid #1B7519;
    font-family: 'Jersey 10';
    font-size: 3rem;
    letter-spacing: 1.5px;
    line-height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.password-create-button:hover {
    background-color: #01d73d;
}